// default colors
$black: #151515;
$google-red: #EA4335;
$red: #ED1B24;
$yellow: #FFFF00;
$white: #fff;
$gray-dark: #979797;
$gray-light: #D8D8D8;
$gray-light-transparency: rgba(216, 216, 216, 0.1);
$gray-dark-transparency: rgba(21, 21, 21, 0.5);

// default margins
$margin: 52px;
$marginLeft: 192px;
$marginRight: 40px;

// default scale
$scale: scaleX(1);
$scaleInverted: scaleX(-1);