@font-face {
  font-family: 'bangersregular';
  src: url('../assets/fonts/bangers-regular-webfont.eot');
  src: url('../assets/fonts/bangers-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/bangers-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/bangers-regular-webfont.woff') format('woff'),
       url('../assets/fonts/bangers-regular-webfont.ttf') format('truetype'),
       url('../assets/fonts/bangers-regular-webfont.svg#bangersregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('../assets/fonts/roboto-regular-webfont.eot');
  src: url('../assets/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/roboto-regular-webfont.woff') format('woff'),
       url('../assets/fonts/roboto-regular-webfont.ttf') format('truetype'),
       url('../assets/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}