@import './core/vars.scss';
@import './fonts.scss';

html, body, #root, .App {
  height: 100%;
}

body {
  background-color: $black;
  color: $white;
  font-family: 'bangersregular';
  margin: 0;
}

p.normal {
  color: $white;
  font-size: 1.3em;
  margin: 0;
  text-align: center;
}

p.highlight {
  color: $yellow;
  font-size: 2.5em;
  margin: 15px;
  text-align: center;
}