@import "../../../styles/core/vars.scss";

.category {
  display: flex;

  input[type='radio'] {
    display: none;
  }

  &__btn {
    border: 0;
    border-radius: 100px;
    color: $black;
    cursor: pointer;
    font-family: 'bangersregular';
    font-size: 3em;
    display: flex;
    height: 71px;
    justify-content: center;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 252px;
  }

  &__btn--deactivated {
    background-color: transparent;
    color: $white;
  }

  &__btn--actived {
    background-color: $yellow;
  }
}
